$primaryRed: #be271e;
$primaryBlack: #000;
$primaryBackground: #f4f4f4;
$primTextColor: #4f4f4f;
$contrastTextColor: #fff;
$darkerRed: #730E09;

@mixin bRadius ($radius: 40px) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin faqWrapper ($padding: 60px 50px 30px 50px) {
    padding: $padding;
}

@mixin buttons ($padding: 12px 20px, $border: 1px solid #fff, $color: #fff, $bgcolor: transparent, $transition: all 0.3s ease) {
    padding: $padding;
    border: $border;
    color: $color;
    background-color: $bgcolor;
    transition: $transition;
    margin-left: 10px;
}

@mixin buttonsHover ($padding: 12px 20px, $border: 1px solid #fff, $color: #000, $bgcolor: #fff) {
    padding: $padding;
    border: $border;
    color: $color;
    background-color: $bgcolor;
}

@mixin shadow ($boxShadow: -2px 10px 33px -13px rgba(0,0,0,0.75)) {
    box-shadow: $boxShadow;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $primaryBackground;
    min-height: 3000px;

    p {
        line-height: 1.8;
    }
}

button {
    text-transform: uppercase;
    @include buttons;
    
    &:hover {
        @include buttonsHover;
    }
}

.header {

    text-align: center;
    background-color: rgba($color: $primaryBlack, $alpha: 0.7);
    background-image: url("/assets/traingles.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    @include bRadius;
    color: $contrastTextColor;
    padding: 0;
    @include shadow;
    z-index: 999;
    position: relative;

    h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        padding: 30px 20px 20px 20px;
    }

    .divider {
        width: 250px;
        height: 2px;
        background-color: $primaryRed;
        margin: 0 auto;
    }

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 20px 0 30px 0;
    }

    button {
        margin-bottom: 50px;
    }
}

.faq {

    text-align: center;
    background-color: $darkerRed;
    color: $contrastTextColor;
    margin-top: -60px;
    position: relative;
    @include bRadius;
    @include shadow;
    @include faqWrapper;
    transition: all 0.5s ease;

    &.next {
        padding-top: 70px;
        transform: translateY(-200px);
        display: none;
        opacity: 0;
    }

    &.active {
        display: block;
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    &.partialy-visible {
        opacity: 0.5;
        transform: translateY(0);
    }
}

#instructions {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    color: $primaryBlack;
    background-color: $primaryBackground;
    padding: 50px;
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 1000;
    transition: opacity 0.5s ease;
    line-height: 1.4;

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 20px 0 30px 0;
    }

    span {
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
    }
    
}